name: ReleaseTest

on:
  workflow_dispatch:
    inputs:
      create_release:
        description: 'Create release'
        required: true
        type: boolean

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Upload release
        id: upload_release
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const release_id = "b6792";
            await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id,
              name: 'abc123.bin',
              data: Buffer.from([0x01, 0x01, 0x01]),
            });

